module.exports = function(api) {
  api.cache(true);
  return {
    presets: ['babel-preset-expo'],
    plugins: [
      [
        'module-resolver',
        {
          root: ['./src'],
          extensions: ['.ios.js', '.android.js', '.js', '.ts', '.tsx', '.json'],
          alias: {
            '@': './src',
            '@components': './src/components',
            '@screens': './src/screens',
            '@store': './src/store',
            '@constants': './src/constants',
            '@database': './src/database',
            '@types': './src/types',
            '@navigation': './src/navigation',
            '@styles': './src/styles',
            '@assets': './src/assets',
          },
        },
      ],
      'react-native-reanimated/plugin', // Keep this if you're using Reanimated
    ],
  };
};